Options +FollowSymLinks
RewriteEngine On

# Redirect trailing slashes
RewriteRule ^(.*)/$ /$1 [L,R=301]

# Handle pretty URLs
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?/$1 [L]
